table {
    border-collapse: collapse;
    text-align: center;
    color: rgba(0, 0, 0, 0.74);
    font-family: sans-serif;
    margin: auto;
}

thead {
    color: white;
    font-weight: bolder;
    font-size: larger;
}

div {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.7em;
}

td::first-letter, th:first-child::first-letter {
    text-transform: uppercase;
}

td, th {
    padding: 1em 2em;
}

th:first-child {
    background: rgba(120, 135, 171, 1);
}

th:nth-child(2) {
    background: rgba(78, 98, 141, 1);
}

th:nth-child(3) {
    background: rgba(46, 65, 114, 1);
}

th:nth-child(4) {
    background: rgba(22, 41, 85, 1);
}

th:last-child {
    background: rgba(7, 21, 57, 1);
}

tbody > tr > td:first-child {
    text-align: left;
}

tbody > tr:nth-child(odd) > td:nth-child(odd), tfoot > tr > td:nth-child(odd) {
    background: rgba(219, 219, 219, 1);
}

tbody > tr:nth-child(even) > td:nth-child(even) {
    background: rgba(243, 243, 243, 1);
}

tbody > tr:nth-child(odd) > td:nth-child(even), tbody > tr:nth-child(even) > td:nth-child(odd), tfoot > tr > td:nth-child(even) {
    background: rgba(236, 236, 236, 1);
}

button {
    background: rgba(211, 211, 211, 1);
    border: 1px solid #9c9c9c;
    color: rgba(0, 0, 0, 0.74);
    text-transform: uppercase;
    padding: 0.9em 2em;
    font-weight: bolder;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}

tfoot td:first-child {
    border-bottom-left-radius: 10px;
}

tfoot td:last-child {
    border-bottom-right-radius: 10px;
}
